@tailwind base;
@tailwind components;
@tailwind utilities;


html body{
    margin: 0;
    padding: 0;
}
.authmain{
    width: 100%;
    height: 100vh;
}

.authmain > h2{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    font-size: 30px;
}
.loginmessage{
    padding-top: 100px;
    color: #cc4242;
    font-size: 23px;
    text-align: center;
}
.loginbtn_N{
    display: block;
    background-color: #a1a1a1;
    width: 80%;
    color: white;
    height: 60px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
}
.loginbtn_Y{
    display: block;
    background-color: #282c34;
    width: 80%;
    color: white;
    height: 60px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
}
.joinbtn{
    display: block;
    background-color: #282c34;
    width: 80%;
    color: white;
    height: 60px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contactme{
    margin-left: 10%;
    width: 200px;
    font-size: 12px;
}
.in_nav_center{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
}
.nav-bar{
    z-index: 999;
    border-bottom: 1px solid #c4c4c4;
    position: fixed;
    background: white;
}
.dateSeletor{
    top: 60px;
    position: fixed;
    width: 100%;
    background: white;
}
.container{
    padding: 30px;
}
.slideMenu{
    background: white;
    height: calc(100% - 60px);
    width: 100%;
    z-index: 990;
    top: 60px;
    position: fixed;
    right: -100%;
    transition: transform 0.2s ease-in-out;
}
.show{
    transform: translateX(-100%);
}
ul.dropLi{
    margin-top: 50px;
}
ul.dropLi > a >li{
    font-size: 20px;
    margin: 8px 0px;
    padding: 8px 25px;}
.rankPage > h2{
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #af9951;
}
.topRankDiv{
    margin-bottom: 10px;
    margin-top: 20px;
}
.trophy{
    display: inline-block;
}
.trank{
    line-height: 34px;
}
.monthPicker{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 30px;
    letter-spacing: 5px;
    color: #333232;
    border-bottom: 1px solid #5e5e5e;
}
.datePeridoPicker{
    display: block;
    font-size: 17px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
    color: #333232;
    border-bottom: 1px solid #5e5e5e;
    /*background-color: #282c34;*/
}
.react-datepicker__portal > div{ width: 80%}
.react-datepicker{width: 100% }
.react-datepicker__month-container{width: 100%}


.react-datepicker__monthPicker{
    height:300px;
}
.react-datepicker__month-text{
    line-height: 70px;
    font-size: 22px;
    width: 20%;
    height: 70px;
}
.trankNum{
    text-indent: 10px;
}
.contactmeback{
    display: inline-block;
    float: right;
    margin-right: 10%;
}
.periodDiv{
    padding-top: 30px;
}
.periodDivFlex{;
    padding-top: 50px;
    display: flex;
    margin-bottom: 50px;
}
.loginoutBtn{
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 90%;
    padding: 10px;
    bottom: 150px;
    border-radius: 60px;
    left: calc(5%);
    font-size: 16px;
    background: #0D090A;
    box-shadow: 1px 1px 1px #c07474, 2px 2px 1px #8a8ac7;
    letter-spacing: 6px;
    color: white;
}
.gameListDiv{
    margin-bottom: 50px;
}
.gameDiv{
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    --tw-shadow: 10px 0px 30px 10px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /*background-color: #2B3467;*/
    color: #333232;
    margin-bottom: 25px;

}
.gameDiv-upper{
    padding: 10px 25px 0px;
}
.gameDiv-lower{
    padding: 10px 25px 10px;
}
.weight-900{
    font-weight: 900;
}
.weight-400{
    font-weight: 400;
}
.text-shadow {
    text-shadow: 1px 1px 1px #c07474, 2px 2px 1px #8a8ac7;
}
.join_Y{
    background-color: #282c34;
}
.join_N{
    background-color: #a1a1a1;
}
.enroll-btn{
    border-radius: 6px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #262626;
    color: #262626;
}
.game-detail{
    border-radius: 6px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #262626;
    color: #262626;
}
.game-playing{
    border-radius: 30px;
    padding: 5px;
    font-size: 15px;
    background: #7ac0d9;
    color: white;
}

.open-game{
    display: inline-block;
    font-weight: 900;
    line-height: 24px;
    margin-top: 30px;
    font-size: 19px;
}
.m0auto{
    margin: 0 auto;
}
.saveBtn{
    border-radius: 10px;
    padding: 5px 40px;
    margin-right: 5%;
    margin-bottom: 50px;
    background-color: #282c34;
    color: white;
    height: 60px;
    font-size: 17px;
    text-align: center;
}
.gotoback{
    display: inline-block;
    float: right;
    font-size: 20px;
}

.modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(208, 208, 208, 0.5);*/
}

.list-error > p{
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

.game-info{
    margin-top: 20px;
    height: 60px;
    margin-bottom: 15px;
}
.player-count-txt{
    color: #4b4b4b;
    text-align: left;
    width: 70px;
}
.player-count{
    font-size: 25px;
    font-weight: 900;
    color: #4b4b4b;
    text-align: left;
    width: 100%;
}
.slicer-vertical{
    height: 54px;
    margin-top: 3px;
    border-right: 1px solid #b4b4b4;
    background: linear-gradient(to right, transparent 50%, currentColor 50%);
}
.slicer-horizon{
    position: relative;
    border-bottom: 1px solid #b4b4b4;
    background: linear-gradient(to bottom, transparent 50%, currentColor 50%);
}
.gameDiv-lower{

}
.gameDiv-lower-detail{
    text-align: right;
    width: 100px;
    position: relative;
    left: calc(100% - 100px);
}
.game-title{
    padding: 3px 0px;
    /*background: linear-gradient(to top, #FFE400 50%, transparent 50%);*/
    /*background: linear-gradient(to right, #fe88ff 0%, #c2a4ff 100%);*/
}