@tailwind base;
@tailwind components;
@tailwind utilities;


html body{
    margin: 0;
    padding: 0;
}
.authmain{
    width: 100%;
    height: 100vh;
}

.authmain > h2{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    font-size: 30px;
}
.loginmessage{
    padding-top: 100px;
    color: #cc4242;
    font-size: 23px;
    text-align: center;
}
.loginbtn_N{
    display: block;
    background-color: #a1a1a1;
    width: 80%;
    color: white;
    height: 60px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
}
.loginbtn_Y{
    display: block;
    background-color: #282c34;
    width: 80%;
    color: white;
    height: 60px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
}
.joinbtn{
    display: block;
    background-color: #282c34;
    width: 80%;
    color: white;
    height: 60px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contactme{
    margin-left: 10%;
    width: 200px;
    font-size: 12px;
}
.in_nav_center{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
}
.nav-bar{
    border-bottom: 1px solid #c4c4c4;
}
.container{
    padding: 30px;
}
.dropmenu{
    width: 100%;
    z-index: 990;
    top: 60px;
    position: absolute;
    background-color: white;
}
ul.dropLi > a >li{
    font-size: 24px;
    margin: 10px 0px;
    padding: 10px 20px;
    border-bottom: 1px  solid gainsboro;
}
.rankPage > h2{
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #af9951;
}
.topRankDiv{
    margin-bottom: 10px;
    margin-top: 20px;
}
.trophy{
    display: inline-block;
}
.trank{
    line-height: 34px;
}
.monthPicker{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px 30px;
    letter-spacing: 5px;
    color: white;
    background-color: #282c34;
}
.datePeridoPicker{
    display: block;
    font-size: 17px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
    color: white;
    background-color: #282c34;
}
.react-datepicker__portal > div{ width: 80%}
.react-datepicker{width: 100% }
.react-datepicker__month-container{width: 100%}


.react-datepicker__monthPicker{
    height:300px;
}
.react-datepicker__month-text{
    line-height: 70px;
    font-size: 22px;
    width: 20%;
    height: 70px;
}
.trankNum{
    text-indent: 10px;
}
.contactmeback{
    display: inline-block;
    float: right;
    margin-right: 10%;
}
.periodDivFlex{;
    padding-top: 40px;
    display: flex;
}